## Module 1 Homework (2025 cohort)

In this homework, we're going to download finance data from various sources and make simple calculations or analysis.

---
### Question 1: [Index] S&P 500 Stocks Added to the Index

**Which year had the highest number of additions?**

Using the list of S&P 500 companies from Wikipedia's [S&P 500 companies page](https://en.wikipedia.org/wiki/List_of_S%26P_500_companies), download the data including the year each company was added to the index.

Hint: you can use [pandas.read_html](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html) to scrape the data into a DataFrame.

Steps:
1. Create a DataFrame with company tickers, names, and the year they were added.
2. Extract the year from the addition date and calculate the number of stocks added each year.
3. Which year had the highest number of additions (1957 doesn't count, as it was the year when the S&P 500 index was founded)? Write down this year as your answer (the most recent one, if you have several records).

*Context*: 
> "Following the announcement, all four new entrants saw their stock prices rise in extended trading on Friday" - recent examples of S&P 500 additions include DASH, WSM, EXE, TKO in 2025 ([Nasdaq article](https://www.nasdaq.com/articles/sp-500-reshuffle-dash-tko-expe-wsm-join-worth-buying)).

*Additional*: How many current S&P 500 stocks have been in the index for more than 20 years? When stocks are added to the S&P 500, they usually experience a price bump as investors and index funds buy shares following the announcement.

In [1]:
import pandas as pd

In [6]:
sp500_df = pd.read_html("http://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]

In [7]:
sp500_df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [11]:
# Optionally, save to a CSV file
sp500_df.to_csv("data/sp500_companies.csv", index=False)
print("S&P 500 companies saved to sp500_companies.csv")

S&P 500 companies saved to sp500_companies.csv

In [50]:
# find the year with the most number of additions
sp500_df['year_added'] = pd.to_datetime(sp500_df['Date added']).dt.year
additions_df = sp500_df.groupby('year_added', as_index = False)['Symbol'].count().rename(columns={'Symbol': 'addition_count'}).sort_values(by='addition_count', ascending=False)
additions_df.head(10)

    year_added  addition_count
0         1957              53
48        2017              23
47        2016              23
50        2019              22
39        2008              17
55        2024              16
53        2022              16
54        2023              15
52        2021              15
49        2018              14

In [51]:
print(f"The year(s) with the most additions (except 1957): {additions_df.iloc[1]['year_added']} with {additions_df.iloc[1]['addition_count']} additions.")

The year(s) with the most additions (except 1957): 2017 with 23 additions.

In [ ]:
*Additional*: How many current S&P 500 stocks have been in the index for more than 20 years? When stocks are added to the S&P 500, they usually experience a price bump as investors and index funds buy shares following the announcement.

In [90]:
sp500_df['Date added'] = pd.to_datetime(sp500_df['Date added'])
sp500_df['duration_years'] = (pd.to_datetime('today').year - sp500_df['Date added'].dt.year)
sp500_df['over_20_yrs'] = sp500_df['duration_years'] > 20
print(f"Number of stocks that've been in the SP500 index for over 20 years: {sp500_df['over_20_yrs'].sum()}")

Number of stocks that've been in the SP500 index for over 20 years: 219

---
### Question 2. [Macro] Indexes YTD (as of 1 May 2025)

**How many indexes (out of 10) have better year-to-date returns than the US (S&P 500) as of May 1, 2025?**

Using Yahoo Finance World Indices data, compare the year-to-date (YTD) performance (1 January-1 May 2025) of major stock market indexes for the following countries:
* United States - S&P 500 (^GSPC)
* China - Shanghai Composite (000001.SS)
* Hong Kong - HANG SENG INDEX (^HSI)	
* Australia - S&P/ASX 200 (^AXJO)
* India - Nifty 50 (^NSEI)
* Canada - S&P/TSX Composite (^GSPTSE)
* Germany - DAX (^GDAXI)
* United Kingdom - FTSE 100 (^FTSE)
* Japan - Nikkei 225 (^N225)
* Mexico - IPC Mexico (^MXX)
* Brazil - Ibovespa (^BVSP)

*Hint*: use start_date='2025-01-01' and end_date='2025-05-01' when downloading daily data in yfinance

Context: 
> [Global Valuations: Who's Cheap, Who's Not?](https://simplywall.st/article/beyond-the-us-global-markets-after-yet-another-tariff-update) article suggests "Other regions may be growing faster than the US and you need to diversify."

Reference: Yahoo Finance World Indices - https://finance.yahoo.com/world-indices/

*Additional*: How many of these indexes have better returns than the S&P 500 over 3, 5, and 10 year periods? Do you see the same trend?
Note: For simplicity, ignore currency conversion effects.)

In [93]:
#!pip install yfinance

In [94]:
# read in yahoo finance data
import yfinance as yf

In [ ]:
# define index tickers
indices = ['^GSPC', '000001.SS', '^HSI', '^AXJO', '^NSEI', '^GSPTSE', '^GDAXI', '^FTSE', '^N225', '^MXX', '^BVSP']

# Download historical data for the indices
macro_df = yf.download(indices, start = '2025-01-01', end = '2025-05-01', group_by='ticker')

macro_df

[*********************100%***********************]  11 of 11 completed

Ticker           ^GSPTSE                                            \
Price               Open          High           Low         Close
Date
2025-01-01           NaN           NaN           NaN           NaN
2025-01-02  24821.199219  25003.199219  24777.099609  24898.000000
2025-01-03  24940.000000  25086.000000  24940.000000  25073.500000
2025-01-06  25169.000000  25222.400391  24967.900391  24999.800781
2025-01-07  25059.900391  25197.000000  24863.900391  24929.900391
...                  ...           ...           ...           ...
2025-04-24  24492.699219  24727.500000  24464.599609  24727.500000
2025-04-25  24669.699219  24719.000000  24602.199219  24710.500000
2025-04-28  24701.699219  24845.500000  24701.699219  24798.599609
2025-04-29  24766.400391  24910.000000  24743.699219  24874.500000
2025-04-30  24749.300781  24843.599609  24503.599609  24841.699219

Ticker                     000001.SS                                         \
Price            Volume         Open         High          Low        Close
Date
2025-01-01          NaN          NaN          NaN          NaN          NaN
2025-01-02  215089400.0  3347.938965  3351.721924  3242.086914  3262.561035
2025-01-03  186569100.0  3267.076904  3273.565918  3205.775879  3211.429932
2025-01-06  239976800.0  3209.782959  3219.488037  3185.462891  3206.923096
2025-01-07  237759800.0  3203.306885  3230.853027  3190.460938  3229.644043
...                 ...          ...          ...          ...          ...
2025-04-24  224419200.0  3295.148926  3313.509033  3286.236084  3297.288086
2025-04-25  214234300.0  3300.392090  3305.261963  3288.754883  3295.060059
2025-04-28  224287200.0  3292.055908  3296.931885  3279.876953  3288.415039
2025-04-29  199905200.0  3281.445068  3294.981934  3277.626953  3286.655029
2025-04-30  271264200.0  3284.081055  3292.199951  3277.550049  3279.031006

Ticker                ...         ^NSEI                              \
Price         Volume  ...          Open          High           Low
Date                  ...
2025-01-01       NaN  ...  23637.650391  23822.800781  23562.800781
2025-01-02  561400.0  ...  23783.000000  24226.699219  23751.550781
2025-01-03  517600.0  ...  24196.400391  24196.449219  23976.000000
2025-01-06  431000.0  ...  24045.800781  24089.949219  23551.900391
2025-01-07  409700.0  ...  23679.900391  23795.199219  23637.800781
...              ...  ...           ...           ...           ...
2025-04-24  392800.0  ...  24277.900391  24347.849609  24216.150391
2025-04-25  411000.0  ...  24289.000000  24365.449219  23847.849609
2025-04-28  410700.0  ...  24070.250000  24355.099609  24054.050781
2025-04-29  389000.0  ...  24370.699219  24457.650391  24290.750000
2025-04-30  435800.0  ...  24342.050781  24396.150391  24198.750000

Ticker                                    ^GSPC                            \
Price              Close    Volume         Open         High          Low
Date
2025-01-01  23742.900391  154900.0          NaN          NaN          NaN
2025-01-02  24188.650391  283200.0  5903.259766  5935.089844  5829.529785
2025-01-03  24004.750000  312300.0  5891.069824  5949.339844  5888.660156
2025-01-06  23616.050781  278100.0  5982.810059  6021.040039  5960.009766
2025-01-07  23707.900391  262300.0  5993.259766  6000.680176  5890.680176
...                  ...       ...          ...          ...          ...
2025-04-24  24246.699219  358800.0  5381.379883  5489.399902  5371.959961
2025-04-25  24039.349609  387700.0  5489.729980  5528.109863  5455.859863
2025-04-28  24328.500000  320500.0  5529.220215  5553.660156  5468.640137
2025-04-29  24335.949219  357600.0  5508.870117  5571.950195  5505.700195
2025-04-30  24334.199219  424500.0  5499.439941  5581.839844  5433.240234

Ticker
Price             Close        Volume
Date
2025-01-01          NaN           NaN
2025-01-02  5868.549805  3.621680e+09
2025-01-03  5942.470215  3.667340e+09
2025-01-06  5975.379883  4.940120e+09
2025-01-07  5909.029785  4.517330e+09
...                 ...           ...
2025-04-24  5484.770020  4.697710e+09
2025-04-25  5525.209961  4.236580e+09
2025-04-28  5528.750000  4.257880e+09
2025-04-29  5560.830078  4.747150e+09
2025-04-30  5569.060059  5.449490e+09

[86 rows x 55 columns]

In [ ]:
# initialize ytd dict
ytd_returns = {}

for ticker in indices:
    try:
        data = macro_df[ticker]['Close'].dropna()
        start_price = data.iloc[0]
        end_price = data.iloc[-1]
        ytd_return = (end_price - start_price) / start_price * 100
        ytd_returns[ticker] = ytd_return
    except Exception as e:
        print(f"Error processing {ticker}: {e}")

# convert to df and sort
ytd_df = pd.DataFrame.from_dict(ytd_returns, orient='index', columns=['YTD Return']).sort_values(by='YTD Return', ascending=False)

In [ ]:
ytd_df

           YTD Return
^MXX        13.049444
^HSI        12.720018
^BVSP       12.438710
^GDAXI      12.346378
^FTSE        2.842590
^NSEI        2.490424
000001.SS    0.504817
^GSPTSE     -0.226126
^AXJO       -0.914500
^GSPC       -5.103301
^N225       -8.297931

In [105]:
sp500_ytd = ytd_returns['^GSPC']
better_than_sp500 = sum([r > sp500_ytd for r in ytd_returns.values()])
print(f"{better_than_sp500} indexes had better YTD return than the US (S&P 500).")

9 indexes had better YTD return than the US (S&P 500).

Additional

In [107]:
import pandas as pd
import yfinance as yf

# List of index tickers
indices = ['^GSPC', '000001.SS', '^HSI', '^AXJO', '^NSEI', '^GSPTSE', '^GDAXI', '^FTSE', '^N225', '^MXX', '^BVSP']

# Download full historical data since 2015
full_df = yf.download(indices, start='2015-01-01', end='2025-05-02', group_by='ticker', auto_adjust=True)

# Helper function to get return over a given window
def calculate_return(data, start_date, end_date):
    try:
        start_price = data[data.index >= pd.to_datetime(start_date)].iloc[0]
        end_price = data[data.index >= pd.to_datetime(end_date)].iloc[0]
        return (end_price - start_price) / start_price * 100
    except:
        return None  # If price data isn't available

# Define time periods
periods = {
    '3Y': ('2022-05-01', '2025-05-01'),
    '5Y': ('2020-05-01', '2025-05-01'),
    '10Y': ('2015-05-01', '2025-05-01')
}

# Store returns
returns = {ticker: {} for ticker in indices}

for ticker in indices:
    try:
        close_prices = full_df[ticker]['Close'].dropna()
        for label, (start, end) in periods.items():
            returns[ticker][label] = calculate_return(close_prices, start, end)
    except Exception as e:
        print(f"Error for {ticker}: {e}")

# Convert to DataFrame
returns_df = pd.DataFrame(returns).T
print(returns_df)

# Compare to S&P 500 for each period
for period in periods:
    sp500 = returns_df.loc['^GSPC', period]
    count = (returns_df[period] > sp500).sum()
    print(f"{count} indexes had better {period} return than S&P 500 ({sp500:.2f}%).")

[*********************100%***********************]  11 of 11 completed

                  3Y         5Y         10Y
^GSPC      34.864689  97.976487  165.814477
000001.SS       None       None        None
^HSI            None       None        None
^AXJO      10.869744  55.275553   40.093565
^NSEI           None       None        None
^GSPTSE    19.830663  69.597067   61.642263
^GDAXI          None       None        None
^FTSE      12.372211  47.434535   21.626107
^N225      35.922072  85.797702   86.632141
^MXX            None       None        None
^BVSP           None       None        None
1 indexes had better 3Y return than S&P 500 (34.86%).
0 indexes had better 5Y return than S&P 500 (97.98%).
0 indexes had better 10Y return than S&P 500 (165.81%).


---
### Question 3. [Index] S&P 500 Market Corrections Analysis


**Calculate the median duration (in days) of significant market corrections in the S&P 500 index.**

For this task, define a correction as an event when a stock index goes down by **more than 5%** from the closest all-time high maximum.

Steps:
1. Download S&P 500 historical data (1950-present) using yfinance
2. Identify all-time high points (where price exceeds all previous prices)
3. For each pair of consecutive all-time highs, find the minimum price in between
4. Calculate drawdown percentages: (high - low) / high × 100
5. Filter for corrections with at least 5% drawdown
6. Calculate the duration in days for each correction period
7. Determine the 25th, 50th (median), and 75th percentiles for correction durations

*Context:* 
> * Investors often wonder about the typical length of market corrections when deciding "when to buy the dip" ([Reddit discussion](https://www.reddit.com/r/investing/comments/1jrqnte/when_are_you_buying_the_dip/?rdt=64135)).

> * [A Wealth of Common Sense - How Often Should You Expect a Stock Market Correction?](https://awealthofcommonsense.com/2022/01/how-often-should-you-expect-a-stock-market-correction/)

*Hint (use this data to compare with your results)*: Here is the list of top 10 largest corrections by drawdown:
* 2007-10-09 to 2009-03-09: 56.8% drawdown over 517 days
* 2000-03-24 to 2002-10-09: 49.1% drawdown over 929 days
* 1973-01-11 to 1974-10-03: 48.2% drawdown over 630 days
* 1968-11-29 to 1970-05-26: 36.1% drawdown over 543 days
* 2020-02-19 to 2020-03-23: 33.9% drawdown over 33 days
* 1987-08-25 to 1987-12-04: 33.5% drawdown over 101 days
* 1961-12-12 to 1962-06-26: 28.0% drawdown over 196 days
* 1980-11-28 to 1982-08-12: 27.1% drawdown over 622 days
* 2022-01-03 to 2022-10-12: 25.4% drawdown over 282 days
* 1966-02-09 to 1966-10-07: 22.2% drawdown over 240 days

In [113]:
# Download and prepare data
sp500 = yf.download("^GSPC", start="1950-01-01", progress=False)
sp500 = sp500[['Close']].dropna()

# Calculate all-time highs
sp500['AllTimeHigh'] = sp500['Close'].cummax()

# TODO


---
### Question 4.  [Stocks] Earnings Surprise Analysis for Amazon (AMZN)


**Calculate the median 2-day percentage change in stock prices following positive earnings surprises days.**

Steps:
1. Load earnings data from CSV ([ha1_Amazon.csv](ha1_Amazon.csv)) containing earnings dates, EPS estimates, and actual EPS. Make sure you are using the correct delimiter to read the data, such as in this command ```python pandas.read_csv("ha1_Amazon.csv", delimiter=';') ```
2. Download complete historical price data using yfinance
3. Calculate 2-day percentage changes for all historical dates: for each sequence of 3 consecutive trading days (Day 1, Day 2, Day 3), compute the *return* as Close_Day3 / Close_Day1 - 1. (Assume Day 2 may correspond to the earnings announcement.)
4. Identify positive earnings surprises (where "actual EPS > estimated EPS"). Both fields should be present in the file. You should obtain 36 data points for use in the descriptive analysis (median) later. 
5. Calculate 2-day percentage changes following positive earnings surprises. Show your answer in % (closest number to the 2nd digit): *return* * 100.0
6. (Optional) Compare the median 2-day percentage change for positive surprises vs. all historical dates. Do you see the difference?

Context: Earnings announcements, especially when they exceed analyst expectations, can significantly impact stock prices in the short term.

Reference: Yahoo Finance earnings calendar - https://finance.yahoo.com/calendar/earnings?symbol=AMZN

*Additional*: Is there a correlation between the magnitude of the earnings surprise and the stock price reaction? Does the market react differently to earnings surprises during bull vs. bear markets?)

---
### Question 5.  [Exploratory, optional] Brainstorm potential idea for your capstone project

**Free text answer**

Describe the capstone project you would like to pursue, considering your aspirations, ML model predictions, and prior knowledge. Even if you are unsure at this stage, try to generate an idea you would like to explore-such as a specific asset class, country, industry vertical, or investment strategy. Be as specific as possible.

*Example: I want to build a short-term prediction model for the US/India/Brazil stock markets, focusing on the largest stocks over a 30-day investment horizon. I plan to use RSI and MACD technical indicators and news coverage data to generate predictions.*

---
### Question 6. [Exploratory, optional] Investigate new metrics

**Free text answer**

Using the data sources we have covered (or any others you find relevant), download and explore a few additional metrics or time series that could be valuable for your project. Briefly explain why you think each metric is useful. This does not need to be a comprehensive list-focus on demonstrating your ability to generate data requests based on your project description, identify and locate the necessary data, and explain how you would retrieve it using Python.

## Submitting the solutions

Form for submitting: https://courses.datatalks.club/sma-zoomcamp-2025/homework/hw01

---
## Leaderboard

Leaderboard link: https://courses.datatalks.club/sma-zoomcamp-2025/leaderboard

---